Set ALL the Settings!
<select name="select">
  <option value="value1">Example 1</option> 
  <option value="value2" selected>Example 2</option>
  <option value="value3">Example 3</option>
</select>

{{#link-to 'menu.index'}}&lt;-- Back to main menu{{/link-to}}