<img class="logo" src="logo-white.png">

<div id="container"></div>
<div id="crosshair"></div>

<div id="jseditor" class=""></div>

<div id="chat">
  <ul id="messages"></ul>
  <div id="cmdbox">
    <input type="text" id="cmd" placeholder="Press <enter> to chat" /><br/>
  </div>
</div>

<nav class="bar-tab" id="tools" >
  <ul class="tab-inner">
    <li class="tab-item active">
      <img class="tab-icon" src="/textures/grass.png">
      <div class="tab-label" data-id="1">grass</div>
    </li>
    <li class="tab-item">
      <img class="tab-icon" src="/textures/brick.png">
      <div class="tab-label" data-id="2">brick</div>
    </li>
    <li class="tab-item">
      <img class="tab-icon" src="/textures/dirt.png">
      <div class="tab-label" data-id="3">dirt</div>
    </li>
    <li class="tab-item">
      <img class="tab-icon" src="/textures/obsidian.png">
      <div class="tab-label" data-id="4">obsidian</div>
    </li>
    <li class="tab-item">
      <img class="tab-icon" src="/textures/snow.png">
      <div class="tab-label" data-id="5">snow</div>
    </li>
  </ul>
</nav>