<img class="logo" src="logo-white.png">

<div id="container"></div>
<div id="crosshair"></div>

<div id="jseditor" class=""></div>

<div id="chat">
  <ul id="messages"></ul>
  <div id="cmdbox">
    <input type="text" id="cmd" placeholder="Press <enter> to chat" /><br/>
  </div>
</div>

<nav class="bar-tab" id="tools" >
  <ul class="tab-inner">
    <li class="tab-item">
      <!-- <img class="tab-icon" src="/textures/grass.png"> -->
      <div class="tab-label" data-id="blocks">blocks</div>
    </li>
    <li class="tab-item">
      <!-- <img class="tab-icon" src="/textures/brick.png"> -->
      <div class="tab-label" data-id="beam">beam</div>
    </li>
  </ul>
</nav>

<nav class="bar-tab" id="blocks" >
</nav>