<img class="logo" src="logo-white.png">

<div id="container"></div>
<div id="crosshair"></div>

<div id="jseditor" class=""></div>

<div id="chat">
  <ul id="messages"></ul>
  <div id="cmdbox">
    <input type="text" id="cmd" placeholder="Press <enter> to chat" /><br/>
  </div>
</div>

<nav class="bar-tab" id="tools"></nav>

<nav class="bar-tab" id="blocks"></nav>